<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
    </startup>
<connectionStrings>
    <add name="cnDefault" connectionString="Data Source=SOPORTE-PC\SQLEXPRESS;Initial Catalog=DbPV;Integrated Security=True;connection timeout=120"
        providerName="System.Data.SqlClient" />
    <add name="PV.Properties.Settings.DBPVConnectionStringREPORTS"
        connectionString="Data Source=KKROT-PC\SQLEXPRESS;Initial Catalog=DBPV;Persist Security Info=True;User ID=sa;Password=1342"
        providerName="System.Data.SqlClient" />
    <add name="PV.Properties.Settings.dbpvConnectionString" connectionString="Data Source=SOPORTE-PC\SQLEXPRESS;Initial Catalog=dbpv;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="CC_Lab.Properties.Settings.DBLABConnectionString"
        connectionString="Data Source=ALEJANDRA\SQLEXPRESS;Initial Catalog=DBLAB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>